.announcement {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --tw-text-opacity: 1;
    color: rgba(243, 244, 246, var(--tw-text-opacity))
}
.announcement h1, .announcement h2, .announcement h3, .announcement h4, .announcement h5, .announcement h6 {
    font-family: Poppins;
    --tw-text-opacity: 1;
    color: rgba(251, 146, 60, var(--tw-text-opacity))
}
.announcement code {
    --tw-text-opacity: 1;
    color: rgba(125, 211, 252, var(--tw-text-opacity))
}
.announcement a, .announcement blockquote {
    --tw-text-opacity: 1;
    color: rgba(147, 197, 253, var(--tw-text-opacity))
}
.announcement pre {
    --tw-bg-opacity: 1;
    background-color: rgba(51, 65, 85, var(--tw-bg-opacity))
}
.announcement strong {
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(243, 244, 246, var(--tw-text-opacity))
}
.announcement hr {
    --tw-border-opacity: 1;
    border-color: rgba(51, 65, 85, var(--tw-border-opacity))
}
.announcement img {
    margin-left: auto;
    margin-right: auto
}
.announcement table {
    display: block;
    width: 100%;
    table-layout: auto;
    overflow-x: auto
}
.announcement th {
    --tw-text-opacity: 1;
    color: rgba(251, 146, 60, var(--tw-text-opacity))
}
