.chat * {
  margin: 2px 0 !important;
  font-family: Poppins;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}
.chat pre {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
  --tw-text-opacity: 1 !important;
  color: rgba(55, 65, 81, var(--tw-text-opacity)) !important;
}
.chat blockquote {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  margin-left: 1rem !important;
  border-radius: 0.125rem !important;
  --tw-border-opacity: 1 !important;
  border-color: rgba(248, 113, 113, var(--tw-border-opacity)) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.chat code {
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.9;
  padding: 0.125rem;
  font-size: 0.75rem;
  line-height: 1rem;
}
.chat h1, .chat h2, .chat h3, .chat h4, .chat h5, .chat h6 {
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
}
.chat h1:not(:first-child), .chat h2:not(:first-child), .chat h3:not(:first-child), .chat h4:not(:first-child), .chat h5:not(:first-child), .chat h6:not(:first-child) {
  margin-top: 1rem !important;
}
.chat h1, .chat h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.chat-guest pre {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  border-width: 1px !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity)) !important;
  --tw-bg-opacity: 0.75 !important;
  --tw-text-opacity: 1 !important;
  color: rgba(55, 65, 81, var(--tw-text-opacity)) !important;
}
.chat-guest code {
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.75;
  padding: 0.125rem;
  font-size: 0.75rem;
  line-height: 1rem;
}
.chat-guest a {
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}
.chat-guest a:hover {
  --tw-text-opacity: 1;
  color: rgba(37, 99, 235, var(--tw-text-opacity));
}
.chat-guest hr {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}
.chat-guest blockquote {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity)) !important;
  --tw-bg-opacity: 0.75 !important;
}
.chat-guest table {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
  width: 100% !important;
}
.chat-guest table tr {
  text-align: center;
}
.chat-guest table tr:nth-child(even) {
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.75;
}
.chat-guest table tr:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.75;
}
.chat-guest table tr td, .chat-guest table tr th {
  border-width: 1px;
}
.chat-guest table tr th {
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.75;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
}
.chat-left a {
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}
.chat-left a:hover {
  --tw-text-opacity: 1;
  color: rgba(37, 99, 235, var(--tw-text-opacity));
}
.chat-left hr {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}
.chat-left table {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
  width: 100% !important;
}
.chat-left table tr {
  text-align: center;
}
.chat-left table tr:nth-child(even) {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.75;
}
.chat-left table tr:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.75;
}
.chat-left table tr td, .chat-left table tr th {
  border-width: 1px;
}
.chat-left table tr th {
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.75;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
}
.chat-right h1 {
  margin-bottom: 0.5rem !important;
  border-bottom-width: 2px !important;
  --tw-border-opacity: 1 !important;
  border-color: rgba(219, 234, 254, var(--tw-border-opacity)) !important;
  padding-bottom: 0.25rem !important;
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}
.chat-right a {
  --tw-text-opacity: 1;
  color: rgba(4, 120, 87, var(--tw-text-opacity));
}
.chat-right hr {
  --tw-border-opacity: 1;
  border-color: rgba(219, 234, 254, var(--tw-border-opacity));
}
.chat-right table {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
  width: 100% !important;
}
.chat-right table tr {
  text-align: center;
}
.chat-right table tr:nth-child(even) {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.8;
}
.chat-right table tr:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.8;
}
.chat-right table tr td, .chat-right table tr th {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.chat-right table tr th {
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.8;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
}
